.inline-block{
    display: inline-block;
    vertical-align: top;
}

.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
    display: inline-block;
    padding-inline-end: 0%;
}

ul{
    width: 50%;
    margin-left: auto;
}

.heroImg{
height: 600px;
padding: 25px;
}

.content{
    width: 500px;
    margin: 0 auto;
}

footer{
    background-color: #373738;
    padding-inline-start: 30%;
}

li{
    padding-inline-start: 10%;
}
footer ul{
    display: inline-block;
    vertical-align: top;
    padding-inline-start: 5%;
}

.flexContainer{
    display: flex;
    width: 33%;
    margin: 50px;
    padding: 100px;
    flex-direction: row;

}

html{
    background-color: #FBF9F3;
}

.navigation{
     background-color: #D3D9D4;
}

.heroImg{
    background-color: #D3D9D4;
}

.myWork{
    background-color: #D3D9D4;
}

footer{
    background-color: #D3D9D4;
}

#pManor{
    width: 250px;
    height: 450px;
    float:right;
}

#CER{
    width: 270px;
    height: 450px;
    float: right;
}

#skillX{
    width: 270px;
    height: 450px;
    float:right;
}
h3{
    font-size: 25px;
}

p{
    font-size: 20px;
    font-family: "Ubuntu Regulat", sans-serif;
    
}
#finalbutton{
    font-size: 32px;
    font-family: "Ubuntu bold", sans-serif;
    color: #3451AB;
}
h1{
    font-size: 38px;
    font-family: "Warownia";
    color: #3451AB;
}
.workGrid{
    display: grid; 
   grid-template-rows: auto;
   grid-template-columns: 1fr ;
   grid-template-areas: 
   "class1" 
   "class2"
    "class3";
   

}
h3{
    font-size: 24px;
    font-family: "Ubuntu bold", sans-serif;
    color:#3451AB;
}

h4 {
    font-size: 32px;
    font-family: "Ubuntu bold", sans-serif;
    color: #3451AB;
}

button{
    font-size: 17px;
    background: 0%;
    border-color: #DAF561;
    border-radius: 10px;
    color:#3451AB;
    font-family: Ubuntu, sans-serif;
    
}

#casestudy{
    background: 0%;
    color: black;
    border-color:#D3D9D4;
    font-family: 'Warownia';
    border-style: none;
}

@media only screen and (max-width: 600px) {
    body{
flex-direction:column;
width:100%;
grid-template-rows: auto;
grid-template-columns: 1fr;
grid-template-areas: 
"class1"
"class2"
"class3"
;
}
}

   