
.navigation{
    background-color: #D3D9D4;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    letter-spacing: 1px;
}

.inline-block-logo{
    display: flex;
    justify-content: center;
}

.inline-block-nav{
    display: flex;
    justify-content: right;
}

nav ul{
    font-weight: bold;
    list-style-type: none;
    display: flex;
    flex-direction: row ;
    justify-content: center;

}

footer{
    padding-inline: 20%;
    justify-content: center;
    background-color: #D3D9D4;
    height: 150px;
}

footer ul{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    list-style-type: none;
    
}


.h8{
    display: flex;
    font-weight: bold;
    justify-self: center;
}


.flexContainer{
    display: flex;
    width: 33%;
    margin: 50px;
    padding: 100px;
    flex-direction: row;

}

html{
    background-color: #FBF9F3;
}

.heroImg{
    background-color: #D3D9D4;
}

.myWork{
    background-color: #D3D9D4;
}


#pManor{
    width: 250px;
    height: 450px;
    justify-content: center;
 
}

#CER{
    width: 270px;
    height: 450px;
    justify-content: center;
  
}

#skillX{
    width: 250px;
    height: 450px;
    overflow-block: auto;
    justify-content: center;

}
h3{
    font-size: 25px;
}

p{
    font-size: 20px;
    font-family: "Ubuntu Regulat", sans-serif;
    
}
#finalbutton{
    font-size: 32px;
    font-family: "Ubuntu bold", sans-serif;
    color: #3451AB;
}
h1{
    font-size: 38px;
    font-family: "Warownia";
    color: #3451AB;
}
.workGrid{
    display: grid; 
   grid-template-rows: auto;
   grid-template-columns: 1fr ;
   grid-template-areas: 
   "class1" 
   "class2"
   "class3";

}
h3{
    font-size: 24px;
    font-family: "Ubuntu bold", sans-serif;
    color:#3451AB;
}

h4 {
    font-size: 32px;
    font-family: "Ubuntu bold", sans-serif;
    color: #3451AB;
}

button{
    font-size: 17px;
    background: 0%;
    border-color: #DAF561;
    border-radius: 10px;
    color:#3451AB;
    font-family: Ubuntu, sans-serif;
    
}

#casestudy{
    background: 0%;
    color: black;
    border-color:#D3D9D4;
    font-family: 'Warownia';
    border-style: none;
}


#class1{
display: flex;
padding: 5px;
flex-direction: row-reverse;
justify-content: space-between;
}
 
#class2{
display: flex;
padding: 5px;
flex-direction: row-reverse;
justify-content: space-between;
background-color: #FBF9F3;
}

#class3{
display: flex;
padding: 5px;
flex-direction: row-reverse;
justify-content: space-between;
}



.content{
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: space-around;

}

.heroImg{
  height: 550px;
}


@media only screen and (max-width: 600px) {
    body{
flex-direction:column;
width:100%;
grid-template-rows: auto;
grid-template-columns: 1fr;
grid-template-areas: 
"class1"
"class2"
"class3"
;
}
}

   