
.navigation{
    background-color: #D3D9D4;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.inline-block-logo{
    display: flex;
    justify-content: space-around;
}

.inline-block-nav{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-around;
    font-size: 20px;
}

nav li{
    list-style-type: none;  
}

li{
    display: flex;
    flex-direction: row;
}

footer{
    background-color: #D3D9D4;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

#footerclass{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


h8{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: space-around;
    font-size: 20px;
    
}


.flexContainer{
    display: flex;
    width: 33%;
    margin: 50px;
    padding: 100px;
    flex-direction: row;
    justify-content: space-between;

}

#dotline{
    float: left;
    height: 310px;
    display: flex;
}
html{
    background-color: #FBF9F3;
    
}

.heroImg{
    background-color: #D3D9D4;
}

.myWork{
    background-color: #D3D9D4;
}


#pManor{
    width: 250px;
    height: 450px;
    justify-content: center;
 
}

#CER{
    width: 250px;
    height: 450px;
    justify-content: center;
  
}

#skillX{
    width: 260px;
    height: 450px;
    overflow-block: auto;
    justify-content: center;

}
h3{
    font-size: 35px;
    font-family: "Ubuntu Regulat", sans-serif;
    
}

p{
    font-size: 20px;
    font-family: "Ubuntu Regular", sans-serif;

    
}

p8{
    font-size: 20px;
    font-family: "Ubuntu Regular", sans-serif;
    margin-left: 30px;
    display: block;
    
    
}
p3{
    font-family: 'Warownia';
    letter-spacing:10%;
    z-index: +1;
    position: absolute;
}


#Circle{
    display: flex;
    position: absolute;
 

}
#finalbutton{
    font-size: 32px;
    font-family: "Ubuntu bold", sans-serif;
    color: #3451AB;
}
h1{
    font-size: 40px;
    font-family: "Ubuntu bold", sans-serif;
    color: #3451AB;
}
.workGrid{
    display: grid; 
   grid-template-rows: auto;
   grid-template-columns: 1fr ;
   grid-template-areas: 
   "class1" 
   "class2"
   "class3";

}
h3{
    font-size: 24px;
    font-family: "Ubuntu bold", sans-serif;
    color:#3451AB;
}

h4 {
    font-size: 30px;
    font-family: "Ubuntu bold", sans-serif;
    color: #3451AB;
}

button{
    font-size: 17px;
    background: 0%;
    border-color: #DAF561;
    border-radius: 15px;
    color:#3451AB;
    font-family: Ubuntu, sans-serif;
    
}

#casestudy{
    background: 0%;
    color: black;
    border-color:#D3D9D4;
    font-family: 'Warownia';
    border-style: none;
}


#class1{
display: flex;
padding: 5px;
flex-direction: row-reverse;
justify-content: space-between;
}
 
#class2{
display: flex;
padding: 15px;
flex-direction: row-reverse;
justify-content: space-between;
background-color: #FBF9F3;
}

#class3{
display: flex;
padding: 15px;
flex-direction: row-reverse;
justify-content: space-between;
}


.content{
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: space-around;

}

.heroImg{
  height: 550px;
}

.workGrid{
    justify-content: center;
}

.contactMe{
    background-color: #FBF9F3;
    height: 240px;
    margin-top: 2px;
}

area{
    display: flex;
    align-content: center;
    flex-direction: column;

}

.mySkills{
    height: 500px;
}


@media only screen and (max-width: 600px) {
    body{
flex-direction:column;
width:100%;
grid-template-rows: auto;
grid-template-columns: 1fr;
grid-template-areas: 
"class1"
"class2"
"class3"
;
}
}

   